Package: alacritty
Version: 0.1.0-20180708
Maintainer: buty4649 <buty4649@gmail.com>
Section: x11
Architecture: amd64
Description: Alacritty is the fastest terminal emulator in existence. Using the GPU for rendering enables optimizations that simply aren't possible in other emulators.
